.booking{
    width: 100%;
    /* height: 800px; */
}


.booking-top{
    background-image: url(../Activity/INLINE.jpg);
    width: 1440px;
    height: 250PX;
    margin: 0 auto;
    background-position: center;

}

.booking-top h1{
    font-size: 36px;
    color: white;
    text-align: center;
    padding-top: 100px;

}
.booking-all{
   
}
.booking-middle{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    line-height: 1.6;
}
.booking-middle-in{}


select[name=adults]{
    width: 450px;
    height: 50px;
    
    font-size: 30px;
}
select[name=people]{
    width: 120px;
    height: 30px;
    
    font-size: 30px;
}
input[type=date]{
    width: 440px;
    height: 30px;
    
    font-size: 30px;
}
input[type=time]{
    width: 440px;
    height: 30px;
    
    font-size: 30px;
}

.booking-under{
    margin: 0 auto;
    width: 160px;
    height: 50px;
    background-color: #f08c0a;
    text-align: center;
    margin-top: 30px;
    border-radius:10px;
    margin-bottom: 20px;
}
.booking-under a{
    text-decoration: none;
    font-size: 30px;
    
}


/* ___________________RWD________________ */


@media (max-width: 415px) {
    .booking-top{
        width: 80%;
        height: 150PX;
        background-position: none;
    }
    .booking-top h1{
        font-size: 25px;
        padding-top: 50px;
    }
    .booking-middle{
        font-size: 25px;
        line-height: 1.3;
    }

    select[name=adults]{
        width: 90%;
        height: 20px;
        font-size: 15px;
    }
    select[name=people]{
        width: 90%;
        height: 20px;
        font-size: 15px;
    }
    input[type=date]{
        width: 90%;
        height: 20px;
        font-size: 15px;
    }
    input[type=time]{
        width: 90%;
        height: 20px;
        font-size: 15px;
    }
    
    .booking-under{
        width: 30%;
        height: 30px;
        margin-top: 20px;
    }
    .booking-under a{
        font-size: 20px;
    }
}




