.menu-all{
    width: 100%;
}
.menu-top h1{
    font-size: 48px;
    text-align: center;
}

.menu-menuin li{
    width: 1200px;
    height: 350px;
    /* background-color: black; */
    background-image: url(../Activity/Background2.jpeg);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
    line-height: 1.4;
}
.menu-menu1-content1{
    font-size: 36px;
}
.menu-menuin img{
    width: 258px;
    height: 258px;
    margin: 40px 80px;
    border-radius: 10px;
}
.menu-menuin h1{
    color: white;
    margin-top: 30px;
    font-size: 36px;
}
.menu-menuin p{
    color: white;
    /* margin-left: 150px; */
    font-size: 22px;
}

.menu-menuin h2{
    color: #F68721;
    font-size: 28px;
    margin-left: 350px;
    margin-top: 300px;
}
.menu-menu-nuder{
    width: 1300px;
    height: 260px;
    background-color: black;
    border-radius: 10px;
    margin: 0 auto;
    color: white;
    display: flex;
    padding-top: 35px;
    margin-bottom: 20px;
}
.menu-menu-ul-1{
    margin: 0 auto;
    transition: all 1s;
    perspective: 500px;
    z-index: 1;
}
.menu-menu-ul-2{
    margin: 0 auto;
    transition: all 1s;
    perspective: 500px;
}
.menu-menu-ul-3{
    margin: 0 auto;
    transition: all 1s;
    perspective: 500px;
}

.menu-menu-nuder img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.menu-menu-ul-1 img:hover{
    transform: translate3d(100px,-100px,200px);
}
.menu-menu-ul-2 img:hover{
    transform: translate3d(0,-100px,200px);
}
.menu-menu-ul-3 img:hover{
    transform: translate3d(-100px,-100px,200px);
}

.menu-menu-nuder h1{
    font-size: 24px;
    margin-right: 120px;
    
}

.menu-menu-nuder h2{
    font-size: 24px;
}
.menu-menu-under-in{
    display: flex;
}
/* ___________________RWD________________ */


@media (max-width: 415px) {
    .menu-top h1{
        font-size:24px;
        text-align: center;
    }

    .menu-menuin li{
        width: 80%;
        height: 80%;
        flex-direction: column;
    }
    .menu-menuin img{
        width: 80%;
        height: 80%;
        margin: 20px 30px;
        border-radius: 10px;
    }
    
    .menu-menuin h1{
        margin-top: 5px;
        font-size: 25px;
        text-align: center;
    }
    .menu-menuin p{
        font-size: 18px;
        text-align: center;
        margin-top: 5px;
    }
    
    .menu-menuin h2{
        font-size: 25px;
        margin-left: 0px;
        margin-top: 10px;
        text-align: center;
    }
    .menu-menu-nuder{
        width: 80%;
        height: 80%;
        flex-direction: column;
    }
    .menu-menu-ul-1{
        transition: all 0s;
        perspective: 0px;
    }
    .menu-menu-ul-2{
        transition: all 0s;
        perspective: 0px;
    }
    .menu-menu-ul-3{
        transition: all 0s;
        perspective: 0px;
    }
    
    .menu-menu-nuder img{
        width: 80%;
        height: 80%;
        margin: 0 30px;
    }
    
    .menu-menu-ul-1 img:hover{
        transform: translate3d(0px,0px,0px);
    }
    .menu-menu-ul-2 img:hover{
        transform: translate3d(0,0px,0px);
    }
    .menu-menu-ul-3 img:hover{
        transform: translate3d(0px,0px,0px);
    }
    .menu-menu-under-in{
        width: 80%;
        margin: 10px auto;
    }
    .menu-menu-nuder h1{
        font-size: 18px;
        margin-right: 120px;
    }
    .menu-menu-nuder h2{
        font-size: 18px;
    }

}



